﻿@model Elimination.Models.PlayerComparisonViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <p></p>
            <img id="profilePic" src="data:image/png;base64, @Html.DisplayFor(model => model.photoBase64)" height="250" width="250" />
            <h2>@Html.DisplayFor(model => model.player.UserName)</h2>
            <hr />
            <h3>Stats</h3>
            <h4>Games Played: @Html.DisplayFor(model => model.gamesPlayed)</h4>
            <h4>Games Hosted: @Html.DisplayFor(model => model.gamesHosted)</h4>
            <h4>Targets Eliminated: @Html.DisplayFor(model => model.targetsEliminated)</h4>
            <h4>Times Eliminated: @Html.DisplayFor(model => model.timesEliminated)</h4>
            <h3>Profile</h3>
            <p>@Html.DisplayFor(model => model.player.Profile)</p>
            <h3>Skills</h3>
            <p>This feature is forthcoming.</p>
            <h3>Most Recent Game</h3>
            <p></p>
            <h4>@Html.DisplayFor(model => model.mostRecentGame.Name)</h4>
            <h4>@Html.DisplayFor(model => model.mostRecentGame.EndDate)</h4>
            <h4>@Html.DisplayFor(model => model.mostRecentGame.Location)</h4>
        </div>
        <div class="col-md-6 text-center">
            <p></p>
            <img id="profilePic" src="data:image/png;base64, @Html.DisplayFor(model => model.photoBase642)" height="250" width="250" />
            <h2>@Html.DisplayFor(model => model.player2.UserName)</h2>
            <hr />
            <h3>Stats</h3>
            <h4>Games Played: @Html.DisplayFor(model => model.gamesPlayed2)</h4>
            <h4>Games Hosted: @Html.DisplayFor(model => model.gamesHosted2)</h4>
            <h4>Targets Eliminated: @Html.DisplayFor(model => model.targetsEliminated2)</h4>
            <h4>Times Eliminated: @Html.DisplayFor(model => model.timesEliminated2)</h4>
            <h3>Profile</h3>
            <p>@Html.DisplayFor(model => model.player2.Profile)</p>
            <h3>Skills</h3>
            <p>This feature is forthcoming.</p>
            <h3>Most Recent Game</h3>
            <p></p>
            <h4>@Html.DisplayFor(model => model.mostRecentGame2.Name)</h4>
            <h4>@Html.DisplayFor(model => model.mostRecentGame2.EndDate)</h4>
            <h4>@Html.DisplayFor(model => model.mostRecentGame2.Location)</h4>
        </div>
    </div>
    <hr />
