﻿@model Elimination.Models.Player

@{
    ViewBag.Title = "Edit Profile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <h2>Edit Player</h2>
            </div>
            <div id="settings-edit" class="col-md-1 text-right dashboard-icons">
                <p></p>
                <a href="~/Account/Settings/@Html.DisplayFor(model => model.PlayerID)"><img id="settingsPic" src="~/Images/settings.png" height="50" width="50" /></a>
            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PlayerID, new { name = "TargetID"})
        @Html.HiddenFor(model => model.AuthUserID)
        @Html.HiddenFor(model => model.DOB)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Phone)

        <div class="row">
            <!--Photo display and import.-->
            <div class="col-md-3">
                <img id="profilePic" src="@Html.DisplayFor(model => model.PhotoUrl)" height="250" width="250" />
                @Html.HiddenFor(model => model.PhotoUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhotoUrl, "", new { @class = "text-danger" })
            </div>
            <!--First name-->
            <div class="col-md-4">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <!--Last name-->
            <div class="col-md-4">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <!--Username -->
            <div class="col-md-8">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <!--Profile description-->
            <div class="col-md-8">
                @Html.LabelFor(model => model.Profile, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Profile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Profile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn btn-default" />
                <a href="@Url.Action("Index","Dashboard")"><input type="button" value="Cancel" class="btn btn-default" /></a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
