﻿@model Elimination.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <h2>Dashboard</h2>
    <hr />
    <div class="row">
        <div id="dashboard-username" class="col-md-3 text-center">
            <p></p>
            <img id="profilePic" src="@Html.DisplayFor(model => model.player.PhotoUrl)" height="250" width="250" />
            <h2 class="text-center">@Html.DisplayFor(model => model.player.UserName)</h2>
            <table id="quickStats-table" class="table">
                <tbody>
                    <tr>
                        <th>Level</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>Players Eliminated</th>
                        <td>@Html.DisplayFor(model => model.targetsEliminated)</td>
                    </tr>
                    <tr>
                        <th>Games Played</th>
                        <td>@Html.DisplayFor(model => model.gamesPlayed)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div id="dashboard-skills" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="#"><img id="skillsPic" src="~/Images/pirate-red-black.png" height="100" width="100" /></a>
                    <h4 class="text-center">Skills</h4>
                </div>
                <div id="dashboard-inventory" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="#"><img id="inventoryPic" src="~/Images/inventory.png" height="100" width="100" /></a>
                    <h4 class="text-center">Inventory</h4>
                </div>
                <div id="dashboard-games" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="~/Games/"><img id="gamesPic" src="~/Images/ninja-red-black.png" height="100" width="100" /></a>                    <h4 class="text-center">Games</h4>
                </div>
                <div id="dashboard-players" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="#"><img id="playersPic" src="~/Images/zombie-red-black.png" height="100" width="100" /></a>
                    <h4 class="text-center">Players</h4>
                </div>
                <div id="dashboard-Profile" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="~/Players/Edit/@Html.DisplayFor(model => model.player.PlayerID)"><img id="proPic" src="~/Images/edit-profile.png" height="100" width="100" /></a>
                    <h4 class="text-center">Edit Profile</h4>
                </div>
                <div id="dashboard-stats" class="col-md-4 text-center dashboard-icons">
                    <p></p>
                    <a href="#"><img id="statsPic" src="~/Images/stats.png" height="100" width="100" /></a>
                    <h4 class="text-center">Stats</h4>
                </div>
            </div>
        </div>
    </div>
    <!--Current Game display stuff-->
    <div class="row">
        <div id="dashboard-games" class="col-md-12">
            <h3>Current Game</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <a name="recentGame" href="@Url.Action("Details", "Games", new { id = Html.DisplayFor(model => model.mostRecentGame.GameID)})"><h4>@Html.DisplayFor(model => model.mostRecentGame.Name)</h4></a>
        <table class="table table-container">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.mostRecentGame.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mostRecentGame.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mostRecentGame.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mostRecentGame.Location)
                </th>
                <th>
                    Current Target
                </th>
                <th>Target Code</th>
                <th></th>
            </tr>
            @if (Model.mostRecentGame != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.mostRecentGame.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.mostRecentGame.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.mostRecentGame.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.mostRecentGame.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.mostRecentGame.Targets.LastOrDefault(t => t.Player == model.player.PlayerID).TargetPlayer.UserName)
                        @Html.DisplayFor(model => model.mostRecentGame.Targets.FirstOrDefault(t => t.Player == model.player.PlayerID).TargetPlayer.UserName)
                    </td>
                    <td>
                        @Request.Params["eliminationConfirmation"]
                    </td>
                    @using (Html.BeginForm("EliminatePlayer", "Games", FormMethod.Post))
                    {
                        <td>
                            @Html.TextBoxFor(model => Model.targetCode)
                            @Html.ValidationMessageFor(model => Model.targetCode)
                            @Html.Hidden("targetID", Model.mostRecentGame.Targets.LastOrDefault(t => t.Player == Model.player.PlayerID).TargetPlayer.PlayerID, new { @id = "targetID" })                        
                            @Html.HiddenFor(m => Model.gameID)
                            <input id="redirect" data-val="true" name="redirect" value="../Dashboard/Index/" type="hidden" />
                            <input class="sm-btn btn btn-default" type="submit" value="ELIMINATE" />
                        </td>
                    }
                    <td>
                        <button class="sm-btn btn btn-default" onclick="location.href='@Url.Action("ImageElimination", "Games", new { gameId = Model.mostRecentGame.GameID, targetId = Model.mostRecentGame.Targets.FirstOrDefault().TargetID })'">
                            Eliminate Via Image
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>


    <!--Hosted Game display stuff-->
    <div class="row">
        <div id="dashboard-games" class="col-md-12">
            <h3>Hosted Game</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <h4>@Html.DisplayFor(model => model.hostedGames.FirstOrDefault().Name)</h4>
        <table class="table table-container">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.hostedGames.FirstOrDefault().Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hostedGames.FirstOrDefault().StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hostedGames.FirstOrDefault().EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hostedGames.FirstOrDefault().Location)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.hostedGames)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "HostDetails", "Games", new { id = item.GameID }, new { })
                        @if (!item.Active)
                        {
                            <text>|</text>
                            @Html.ActionLink("Edit", "Edit", "Games", new { id = item.GameID }, new { })
                            <text>|</text>
                            @Html.ActionLink("Delete", "Delete", "Games", new { id = item.GameID }, new { })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

