﻿@model class_project.Models.AthleteRun

@{
    var firstName = Html.DisplayFor(model => model.athlete.FirstName);
    var lastName = Html.DisplayFor(model => model.athlete.LastName);
    ViewBag.Title = " " + firstName + "" + lastName;
    var team = Html.ValueFor(model => model.athlete.Team).ToString();
}

<h2>@firstName @lastName</h2>

<div>
    <h4>Athlete</h4>
    <hr />
    <h4>Most Recent Run</h4>
    <p>
        @Html.DisplayNameFor(model => model.mostRecentRun.Distance)
        @Html.DisplayFor(model => model.mostRecentRun.Distance) miles
    </p>
    <p>
        @Html.DisplayNameFor(model => model.mostRecentRun.Time)
        @Html.DisplayFor(model => model.mostRecentRun.Time) minutes
    </p>

    <dl class="dl-horizontal">
        <h6>Runner Info</h6>
        <dt>
            @Html.DisplayNameFor(model => model.athlete.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.athlete.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.athlete.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.athlete.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.athlete.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.athlete.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.athlete.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.athlete.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.athlete.Team)
        </dt>

        @if (team == "A")
        {
            <dd>
                Varsity
            </dd>
        }
        else if (team == "B")
        {
            <dd>
                Junior Varsity
            </dd>
        }
        else if (team == "C")
        {
            <dd>
                Junior Varsity 2
            </dd>
        }
        else
        {
            <dd>
                No team listed
            </dd>
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.athlete.AthleteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
