﻿@model IEnumerable<class_project.Models.Athlete>

@{
    var team = "";

    switch (Model.FirstOrDefault().Team)
    {
        case "A":
            team = "Varsity";
            break;
        case "B":
            team = "Junior Varsity";
            break;
        case "C":
            team = "Junior Varsity 2";
            break;
        default:
            team = "No team listed";
            break;
    }

    ViewBag.Title = team;
}

<div class="titlebar">@team</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            Average Heart Rate
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            @foreach (var it in ViewBag.heart)
            {
                if (it.Item1 == item.LastName)
                {
                    <td>
                        @it.Item2
                    </td>
                }
            }

            <td>@team</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AthleteID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AthleteID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AthleteID })
            </td>
        </tr>
    }

</table>


<div class="addbutton">@Html.ActionLink("Add Athlete", "Create")</div>
