﻿@model Elimination.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Host
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCenterLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCenterLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocatoinCenterLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocatoinCenterLat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationRadius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationRadius)
        </dd>
    </dl>
</div>

@if (!ViewBag.Player.Equals("Host"))
{
    if (ViewBag.Player.Equals("AlreadyJoined"))
    {
        <button class="btn btn-default" onclick="if(confirm('Are you sure?')){location.href='@Url.Action("RemovePlayer", "Games", new { gameID = Model.GameID, playerID = ViewBag.playerID })'}">Leave Game</button>
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="JOIN" class="btn btn-default" id="join" />
                </div>
            </div>
        }
    }
} else
{
    <div>This is your game!</div>
}

<div>
    <label>Joined Players</label>
    <ul>
        @foreach (var player in Model.Players)
        {
            <li>@player.UserName</li>

            if (player.PlayerID.Equals(ViewBag.TargetID))
            {
             <li>test</li>
            }
        }
    </ul>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
