﻿@model Elimination.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Host
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCenterLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCenterLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocatoinCenterLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocatoinCenterLat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationRadius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationRadius)
        </dd>
    </dl>
</div>

<div class="form-group">
    @Html.ActionLink("Add Players", "AddPlayers", new { id = Model.GameID }, new { @class = "btn btn-default" })
</div>
<table class="table table-container" id="game-players-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Targets.FirstOrDefault().APlayer.UserName)
        </th>
        <th>
            Target
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var player in Model.Players)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => player.UserName)
            </td>
            <td>
                @{ var target = Model.Targets.FirstOrDefault(t => t.Player == player.PlayerID); }
                @if (target != null)
                {
                    @target.TargetPlayer.UserName;
                }
                else
                {
                    @:No Target
                }

            </td>
            <td>
                @if (Model.Active)
                {
                    <button class="sm-btn btn btn-default" onclick="location.href='@Url.Action("EliminatePlayer", "Games", new { gameID = Model.GameID, playerID = player.PlayerID })'">Eliminate</button>
                 }
                <button class="sm-btn btn btn-default" onclick="location.href='@Url.Action("RemovePlayer", "Games", new { gameID = Model.GameID, playerID = player.PlayerID })'">Remove</button>
            </td>
        </tr>
    }

</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
