﻿@model Elimination.Models.Player

@{
    ViewBag.Title = "ImageElimination";
}

<h2>ImageElimination</h2>

<script>
    function uploadImg() {
        $('#eliminstatus')[0].innerHTML = "Checking face...";
        $('#eliminbtn')[0].disabled = true;

        var img = $("#Photo")[0].value;

        var a = $.ajax({
            type: "POST",
            dataType: "json",
            url: "EliminatePlayerAJAX",
            data: JSON.stringify({ gameID: @ViewBag.GameID, playerID: @Model.PlayerID, img: img }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false
        }).done(function () {
            if (a.responseJSON.success) {
                $('#eliminstatus')[0].innerHTML = "Face matched. Succesful Elimination. Redirecting...";
                setTimeout(function () { location.href = "@Url.Action("Index", "Dashboard")"; }, 2000);
            } else {
                $('#eliminstatus')[0].innerHTML = "Face did not match.";
                $('#drop-files').show();
                $('#Photo').attr('value', '');
                $('#PhotoExtension').attr('value', '');
                $('#dropped-files > .image').remove();
                $('#uploaded-holder').hide();
                $('#eliminbtn')[0].disabled = false;
            }
        });
    }
</script>
<div class="row">
    <div class="col-md-6" style="">
        <p>Your Target:</p>
        <img src="@Model.PhotoUrl" alt="Target Picture" style="margin-left: calc(50% - 100px);width: 200px; height: auto; overflow: hidden; border: white 4px solid; border-radius:4px;"/>
    </div>
    <div class="col-md-6">
        <div class="content">
            <div id="drop-files" ondragover="return false" onclick="openFileSelector()">
                Drop Target Photo
            </div>
            <div id="uploaded-holder">
                <div class="form-group">
                    <div class="drag-drop-class" id="dropped-files">
                        <input id="photoFile" type="file" name="photoFile" class="invisible" />
                    </div>
                    <input id="Photo" name="Photo" class="invisible" />
                    <input id="PhotoExtension" name="PhotoExtension" class="invisible" />
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>
<div class="row">
    <div class="col-md-3">
    <button id="eliminbtn" class="btn btn-default" onclick="uploadImg()">Eliminate</button>
    </div>
    <div class="col-md-6">
        <div id="eliminstatus"></div>
    </div>
</div>


