﻿@model IEnumerable<Elimination.Models.Game>

@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated)
{

    <h2>Games</h2>
    <div>
       @using (Html.BeginForm("Index", "Games", FormMethod.Get))
       {

            <text>Upcoming Games Only: </text>@Html.CheckBox("inActive")
            <br />
            <b>Search By:</b>
            <br />
            @Html.RadioButton("searchBy", "Name") <text> Name </text>

            @Html.RadioButton("searchBy", "location")<text> Location </text>
            <br />
            <div class="row">
                <div class="col-md-3" >
                    @Html.TextBox("search", null, new { @class = "form-control" })
                </div>
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <input class="btn btn-default" type="submit" value="Search" />
                </div>
            </div>
       }
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-container">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.GameID, pid = item.Host })
                </td>
            </tr>
        }
    </table>
}
else
{
    <h2>Please log in or register</h2>
}
