﻿@model Elimination.Models.GamePlayers
@{
    ViewBag.Title = "InvitePlayers";
}

<h2>InvitePlayers to: @Model.Game.Name</h2>
<strong id="player-id-holder" data-player-id="@Model.Host.PlayerID"></strong>

<div class="container-fluid">
    <div class="row top-of-table-row">
        <div class="row">
            <div class="col-md-4">
                <select class="selectpicker form-control" id="pick-players-button" name="AllPlayers" data-live-search="true" multiple data-actions-box="true">
                    @foreach (var allPlayer in Model.AllPlayers)
                    {
                        <option value="@allPlayer.PlayerID">@allPlayer.FirstName @allPlayer.LastName</option>
                    }
                </select>
            </div>
            <div class="col-md-2" id="send-players-button-col">
                <button class="btn btn-default" value="@Model.Game.GameID" id="add-players-button">UPDATE PLAYERS</button>
            </div>
            <div class="col-md-2" id="send-invites-button-col">
                <button class="btn btn-default" value="@Model.Game.GameID" id="email-invites-button" onclick="sendInvites('email')">EMAIL INVITES</button>
            </div>
            <div class="col-md-2" id="send-invites-button-col">
                <button class="btn btn-default" value="@Model.Game.GameID" id="sms-invites-button" onclick="sendInvites('sms')">TXT INVITES</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-container" id="game-players-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Players)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    setSelectedPlayerNames();
</script>
}