.primary-color {
    background-color: #263238;
}

.primary-light-color {
    background: #4f5b62;
}

.primary-dark-color {
    background: #000a12;
}

.secondary-color {
    background: #b71c1c;
}

.secondary-light-color {
    background: #f05545;
}

.secondary-dark-color {
    background: #961402;
}

.primary-text-color {
    background: #ebebeb;
}

.secondary-text-color {
    background: #e2dfdf;
}

a {
    color: #b71c1c;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.input {
    border-radius: 0px;
}

/********************button stuff************************/

#register-button {
    margin-left: 0px;
}

.btn {
    min-width: 200px;
    min-height: 35px;
    padding: 3px 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #961402;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


    .btn.btn-default {
        color: #ebebeb;
        background-color: #b71c1c;
        border: 1px solid #961402;
        border-radius: 0px;
        min-width: 200px;
        min-height: 45px;
    }

.btn-default:hover {
    background-color: #961402;
    border: 1px solid #6d1104;
    color: #ebebeb;
}

.btn.btn-default:active {
    background-color: #943a2e;
    border: 1px solid #622921;
    color: #c6c6c6;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #961402;
    border: 1px solid #6d1104;
    color: #ebebeb;
}

#send-invites-button.btn.btn-default {
}

#send-players-button-col.col-md-2 {
    margin-left: 0px;
    width: auto;
}

#send-invites-button-col.col-md-2 {
    margin-left: 20px;
    width: auto;
}

a.btn.btn-default {
    padding-top: 5px;
    padding-bottom: 5px;
    font-variant: all-petite-caps;
    font-size: 24px;
    letter-spacing: 3px;
}

.btn.sm-btn {
    min-width: 100px;
    min-height: 20px;
}

/********************navbar stuff************************/

.navbar-inverse {
    background-color: #000a12;
    border: none;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #e2dfdf;
    }

    .navbar-inverse .navbar-brand {
        color: #e2dfdf;
    }

#nav-ninja {
    position: relative;
    top: 8px;
    right: 3px;
}


/****************Row stuf*********************************/

.row.top-of-table-row {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/****************Forms stuff (TextAreas)******************/

.form-control {
    border-radius: 0px;
    height: 30px;
    background-color: #F4F4F5;
    border: 3px solid #4f5b62;
    min-height: 45px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #b71c1c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170, 28, 28, 1);
    outline: 0 none;
}

.form-horizontal .control-label {
    text-align: left;
    min-width: 200px;
}

/***************Date picker stuff*************************/

.ui-widget-header {
    border: none;
    font-weight: 100;
}

.ui-datepicker {
    background-color: #1d252a;
    color: #ebebeb;
    min-width: 15%;
    padding: 18px;
}

    .ui-datepicker a {
        color: #f05545;
        font-size: 16px;
    }

    .ui-datepicker .ui-datepicker-header {
        background-color: #b71c1c;
        border: none;
        border-radius: 0px;
        height: 10%;
    }

span.ui-datepicker-month {
    color: #ebebeb;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: rgba(0,0,0,0.0);
    border: none;
    font-weight: normal;
    color: #b71c1c;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    font-weight: normal;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-header .ui-icon {
    background-image: url(themes/base/images/ui-icons_ffffff_256x240.png);
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
    border: 2px solid #4f5b62;
    font-family: 'Ubuntu Mono', monospace;
}

span.ui-datepicker-month {
    color: #ebebeb;
    font-family: 'Ubuntu Mono', monospace;
}

.ui-datepicker table tbody tr td a:hover {
    background-color: #3d474d;
    color: #ebebeb;
}

.ui-datepicker .ui-datepicker-next:hover {
    right: 2px;
    background-color: #f05545;
    border: none;
}

.ui-datepicker .ui-datepicker-prev:hover {
    right: 2px;
    background-color: #f05545;
    border: none;
}

.ui-datepicker .ui-datepicker-next:active {
    right: 2px;
    background-color: #b71c1c;
    border: none;
}

.ui-datepicker .ui-datepicker-prev:active {
    right: 2px;
    background-color: #b71c1c;
    border: none;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year option:hover {
    background-color: #b71c1c;
    color: #ebebeb;
}

/****************player dropdown list*********************/

.bootstrap-select > .dropdown-toggle {
    background-color: #F4F4F5;
    color: #4f5b62;
    width: 100%;
    z-index: 1;
}

default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #F4F4F5;
    border: 1px solid #6d1104;
    color: #4f5b62;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 40%;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 40%;
}


/****************Add players page stuff*******************/

#add-players-button {
    margin-left: 10px;
}

.col-md-5#add-players-button-col {
    width: 0px;
}


/****************Table stuff******************************/

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #263238;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #4f5b62;
}

.table-container {
    border: 2px solid #1d2530;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/****************Register page stuff**********************/

#profileDesc {
    min-width: 30%;
    max-width: 100%;
    min-height: 100px;
    resize: none;
}

    #profileDesc:focus {
        border-color: #b71c1c;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170, 28, 28, 1);
        outline: 0 none;
    }

.content {
    margin-top: 30px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

/****************Drag-n-Drop file stuf********************/

#drag-drop-col {
    padding-left: 0px;
}

a.drag-drop-a {
    text-align: center;
}

#drop-files {
    width: 100%;
    min-height: 265px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 3px dashed rgba(0,0,0,0.2);
    padding-top: 110px;
    margin-left: 0px;
    text-align: center;
    vertical-align: central;
    font-size: 2em;
    float: left;
    font-weight: bold;
}

#imageFile {
    width: 100%;
    min-height: 260px;
    margin-left: 20px;
}

#dropped-files {
    float: left;
    border-color: #4f5b62;
    position: relative;
    min-width: 400px;
    min-height: 270px;
}

/*#dropped-files.drag-drop-class {
    float: left;
    border-color: #4f5b62;
    position: relative;
    width: 100%;
    min-height: 180px;
}*/

#upload-button {
    position: absolute;
    top: 87px;
    z-index: 9999;
    width: 210px;
    display: none;
}

#dropped-files .image {
    margin-left: 18px;
    height: 100%;
    width: 89%;
    border: 4px solid #fff;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

#upload-button .ss-upload {
    font-size: 0.7em;
}

#upload-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -35px 40px -10px #0A9FCA;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4bc1e3;
    border-radius: 10px;
}

#upload-button span {
    display: block;
    width: 160px;
    text-align: center;
    margin: 20px 0 0 0;
    background: white;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 4px 0;
    position: relative;
    left: -14px;
}

#upload-button a:hover {
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA;
}

#extra-files {
    display: none;
    float: left;
    position: relative;
}

    #extra-files .number {
        background: rgba(0,0,0,0.6);
        border-radius: 4px;
        display: inline-block;
        position: relative;
        font-weight: bold;
        color: #fff;
        padding: 20px 30px;
        margin: 60px 0 0 0;
        cursor: pointer;
        font-size: 30px;
    }

#dropped-files #upload-button .delete {
    padding: 7px 6px 4px 6px;
    border-radius: 100px;
    background: rgba(0,0,0,0.6);
    box-shadow: none;
    font-size: 1em;
    margin-left: 8px;
}

    #dropped-files #upload-button .delete:hover {
        background: rgba(0,0,0,0.8);
    }


#extra-files .number:after {
    position: absolute;
    content: " ";
    top: 18px;
    left: -40px;
    display: block;
    border: 20px solid;
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
}

#extra-files #file-list {
    display: none;
    background: white;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 250px;
    top: 100px;
    border: 1px solid #dadada;
    left: -10px;
    left: -16px;
    max-height: 220px;
    top: 150px;
    position: absolute;
    color: #545454;
}

#file-list ul {
    overflow: scroll;
    padding: 0;
    border-top: 1px solid #dadada;
    max-height: 200px;
    width: 250px;
    list-style: none;
    border-bottom: 1px solid #dadada !important;
}


    #file-list ul li:last-of-type {
        border-bottom: 0 !important;
    }

#uploaded-holder {
    width: 700px;
    height: 250px;
    display: none;
    float: left;
}

#extra-files #file-list:after, #extra-files #file-list:before {
    position: absolute;
    content: " ";
    top: -40px;
    left: 40px;
    display: block;
    border: 20px solid;
    border-color: transparent transparent #ffffff transparent;
}

#extra-files #file-list:before {
    border-color: transparent transparent #dadada transparent;
    top: -41px;
}

#extra-files #file-list li {
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
}

#loading {
    display: none;
    float: left;
    width: 100%;
    position: relative;
}

#loading-bar {
    width: 404px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 2px;
}

.loading-color {
    width: 0%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-radius: inherit;
    background-color: #4edbf1;
}

#loading-content {
    position: absolute;
    top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 405px;
}

#file-name-holder {
    width: 100%;
    float: left;
}

    #file-name-holder h1 {
        text-align: center;
        border-bottom: 1px solid #dadada;
        padding: 20px 0;
        font-size: 3em;
        margin: 0;
    }

#uploaded-files {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 407px;
    top: 100px;
    padding: 0;
    border: 1px solid #dadada;
    max-height: 320px;
    overflow: scroll;
    color: #545454;
}

    #uploaded-files li {
        padding: 10px;
        border-bottom: 1px solid #eee;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 25px;
        color: #545454;
    }

    #uploaded-files a {
        color: #1bacbf;
    }



/*text stuff*/

a {
    color: #b71c1c;
}

    a:hover {
        color: #961402;
    }

::-moz-selection {
    color: #263238;
    background: #4f5b62;
}

::selection {
    color: #263238;
    background: #4f5b62;
}

/**/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #263238;
    font-family: 'Lato',sans-serif;
}

/*Landing page stuff*/
.jumbotron {
    background-color: #263238;
    color: #F4F7F9;
    background-image: url("https://www.fotolia.com/p/206082657");
    margin-bottom: 0;
    margin-top: 15px;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    letter-spacing: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#left-landing,
#right-landing {
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 15px;
}

#ninja {
   margin-bottom:3px;
}

/*ABOUT PAGE*/

ul.accordion {
    text-align: center;
    list-style: none;
}

    ul.accordion li a {
        font-size: 25px;
        letter-spacing: 2px;
        font-variant-caps: all-petite-caps;
        font-weight: 400;
        color: #ebebeb;
    }

/*Dashboard stuff*/
#profilePic,
#skillsPic,
#inventoryPic,
#statsPic,
#proPic,
#gamesPic,
#playersPic {
    border-radius: 150px;
    border: 5px solid #b71c1c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
    #profilePic:hover,
    #skillsPic:hover,
    #inventoryPic:hover,
    #statsPic:hover,
    #proPic:hover,
    #gamesPic:hover,
    #playersPic:hover {
        border: 5px solid #961402;
        border-radius: 200px;
    }

#quickStats-table.table tr {
    background-color:transparent;
}
#quickStats-table.table td {
    color: #961402;
    font-size: 20px;
    font-weight:600;
}

#quickStats-table.table th {
    padding: 6px;
    vertical-align: middle;
}

.col-md-4.dashboard-icons {
    padding-top:75px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: #263238;
    color: #F4F7F9;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-stretch: normal;
    font-weight: 300;
    font-style: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.input {
    border-radius: 0px;
}

#facestatus, #eliminstatus {
    font-size: 14pt;
    padding: 10pt;
}
