﻿@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="faq-box">
                <ul class="accordion">
                    <li>
                        <hr />
                        <a>What is <em>The Elimination Framework?</em></a>
                        <p>
                            The Elimination Framework is a site to host and play Elimination-Based Live-Action Role-Playing games.
                            Players can make an account and then either host, or join, an elimination game. In this account, players can keep track of
                            their stats from game to game, earn experience points to level up, increase skill sets, and purchase inventory items. These all
                            can be used with one of the two companion mobile apps (forthcoming) to actually play the game.
                        </p>
                        <hr />
                    </li>
                    <li>
                        <a>What is an Elimination Game?</a>
                        <p>
                            Elimination-based games are, at their core, elaborate games of tag or hide-and-seek. They are live-action, meaning they take place
                            in real life, either through one of the companion mobile apps, or manually done by way of a game-host utilizing this website.
                            They usually involve some element of role-playing, like assassins or spys.
                            There are potentially limitless ways you can play, but here are several suggested variations.
                        </p>
                        <hr />
                    </li>
                    <li>
                        <a>How do I start a game?</a>
                        <p>I'm not entirely sure at this point, because another developer is working on that!</p>
                        <hr />
                    </li>
                    <li>
                        <a>How do I join a game?</a>
                        <p>I'm not entirely sure at this point, because another developer is working on that!</p>
                        <hr />
                    </li>
                    <li>
                        <a>How do I assassinate my target?</a>
                        <p>However you want!</p>
                        <hr />
                    </li>
                    <li>
                        <a>Why can't I join/create more than one game?</a>
                        <p>I dunno. It's hard?</p>
                        <hr />
                    </li>
                    <li>
                        <a>I have a different question!</a>
                        <p>Feel free to contact us!</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/accordion")
}