﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">The Elimination Framework</h1>
        <p class="lead text-center">Live-action elimination-based role-playing games.</p>
        <p class="text-center"><a href="@Url.Action("About","Home")" class="btn btn-default btn-lg">Learn more</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div id="left-landing" class="col-md-4">
        <h2>New Users</h2>
        <p>
            Never been here before?
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register","Account")">Register</a></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div id="right-landing" class="col-md-4">
        <h2>Returning Users</h2>
        <p>
            Already have an account?
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Login","Account")">Login</a></p>
    </div>
    <div class="col-md-1"></div>
</div>