﻿@{
    ViewBag.Title = "Home Page";
}

<div class="titlepage">
    XC Athlete Manager
</div>


<div class="contentbody">
    XC Stats and more!
    <ul>
        <li>To get started you can view the athletes @Html.ActionLink("here", "Index", "Athletes")</li>
        <li>All the runs are @Html.ActionLink("here", "Index", "Runs")</li>
        <li>The run files are available @Html.ActionLink("here", "Index", "RunFiles")</li>
    </ul>
</div>

