﻿@model Elimination.Models.RegisterViewModel
@{
    ViewBag.Title = "Player Registration";
}

<h2>@ViewBag.Title </h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="container primary-color">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "first-name" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "last-name" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @id = "datepicker" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "user-name" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control bfh-phone", @id = "phone" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "confirm-password" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Profile, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.Profile, new { @class = "form-control", @id = "profileDesc" })
                        </div>
                    </div>
                </div>
                <div class="col-md-7" style="padding-right: 0px;">
                    <div class="col-md-12" id="drag-drop-col">
                        <div class="content">
                            <div id="drop-files" ondragover="return false" onclick="openFileSelector()">
                                Drop Profile Photo
                            </div>
                            <div id="uploaded-holder">
                                <div class="form-group">
                                    <div class="drag-drop-class" id="dropped-files">
                                        <input id="photoFile" type="file" name="photoFile" class="invisible" />
                                    </div>
                                    <input id="Photo" name="Photo" class="invisible" />
                                    <input id="PhotoExtension" name="PhotoExtension" class="invisible" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" class="btn btn-default" value="REGISTER" id="register-button" disabled />
                </div>
                <div class="col-md-3">
                    <input class="btn btn-default" id="delete-image-button" value="DELETE" />
                </div>
                @*<div class="col-md-3">
                    <input class="btn btn-default" id="populate-image-button" value="POPULATE DATA" />
                </div>*@
                <div class="col-md-5" id="facestatus"></div>
            </div>
        </div>
    </div>
}

