﻿<!DOCTYPE html>
<html>
<head>
    <!--Favicon-->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/ninja-red-black.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>@ViewBag.Title - The Elimination Framework</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  href='@Url.Action("Index", "Home")'>
                    <img id="nav-ninja" src="~/Images/ninja-red-white.png" height="32" width="32" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Games", "Index", "Games")</li>
                    <li>@Html.ActionLink("Create Game", "Create", "Games")</li>
                    <li>@Html.ActionLink("Players", "Index", "Players")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                <img id="ninja" src="~/Images/ninja-red-black.png" height="32" width="32" rel="icon" />
                &copy; @DateTime.Now.Year - Sneaky Software
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bs-select")
    @Scripts.Render("~/bundles/elimination")
    @RenderSection("scripts", required: false)
</body>
</html>
